@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #151320;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 10px;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;;
  margin-bottom: 100px;
  text-align: center;
  color: beige;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
  margin-top:-35px;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}


.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}


@media screen and (max-width:800px){
  .team .team_member{
    margin-top: 30px;
  }
	
}
@media screen and (max-width:400px) and (min-width:300px){
	.team .team_member{
    margin-top: 80px;
  }
}